*{
    padding: 0;
    margin :0;
}
#h1{
    display: flex;
    background-color:#9e9b9b;
    margin-left: 500px;
    width:200px;
    padding: 20px;
   font-size:100px;

   
}
.box{
    margin-top: 20px;
    display: flex;
    gap: 200px;
}
button{
    background-color: #9e9b9b;
    padding: 50px 100px;
    border: none;
    border-radius: 10px;

}
#reset{
margin-left: 50;
}